*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


  }

.chats{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.chat{
    padding: 1rem;
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

.TvZamora{
    background-color: white; 
    border: 2px solid #03346b;
}

.WhatSapp{
    background-color: #25D366;
    position: relative;
   
}

.sombra{
    background-color: #25D366;
    animation-name: pulso;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@keyframes pulso{
    0%{
        transform: scale(1,1);
    }
    50%{
        opacity: 0.5;
        
    }
    100%{
        opacity: 0;
        transform: scale(1.25);
    }
}

.WhatSapp span{
    position: absolute;
    top: -8px;
    right: 4px;
    padding: 2px 4px;
    border-radius: 100%;
    background-color: red;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    color: white;
    font-size: .8rem;
}

.TvZamora img{
    object-fit: cover;
}

.barraNav{
    justify-content: space-between;
   
}

.boxMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inclusive Sans", serif;
    font-size: 12px;
    color: white;
    background-color: #03346b;
    width: 150px;
    height: 30px;
    border-radius: 8px;
}

.boxBoton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inclusive Sans", serif;
    font-size: 14px;
    color: white;
    background-color: #03346b;
    width: 180px;
    height: 40px;
    border-radius: 8px;
}

.boxBoton-2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Inclusive Sans", serif;
    font-size: 14px;
    color: white;
    font-weight:bolder;
    background-color: #03346b;
    width: 120px;
    height: 50px;
    border-radius: 2rem;
    margin-bottom:100px;
    margin-left: 40px;
    padding: 0.1rem;
}

.boxBoton-3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inclusive Sans", serif;
    font-size: 13px;
    color: white;
    font-weight:bolder;
    background-color: #03346b;
    width: 120px;
    height: 50px;
    border-radius: 8px;
    margin-bottom:15px;
    margin-left: 25px;
    padding: 0.1rem;
}

.boxBoton-4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inclusive Sans", serif;
    font-size: 13px;
    color: white;
    font-weight:bolder;
    background-color: #03346b;
    width: 180px;
    height: 40px;
    border-radius: 2rem;
    padding: 0rem;
}


.centrar{
    text-align: center;
}





.grid-1{
    display: flex;
    padding: 3rem;
}

.grid-2{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: .5rem;
}

.grid-3{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: .5rem;
}

.grid-azul{
    background-color:#03346B;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem;
}



.grid-cuadros{
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: rgb(255, 255, 255);
    color: #0e1216;
    border-radius: 16px;
    width: 380px;
    
}

.grid-cuadros-2{
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: rgb(255, 255, 255);
    color: #0e1216;
    border-radius: 16px;
    width: 100%;
}

.image-cuadro{
    margin-left: 40px;
    margin-top: 40px;
}

.input-tex{
    width: 100%;
    font-size: 1rem;
    border-radius: 6px;
    appearance: none;
    color: #495057;
    background-color: #ffffff;
    padding: 0.75rem;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(206, 212, 218);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(206, 212, 218);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(206, 212, 218);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(206, 212, 218);
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
}

.input-tex-2{
    width: 100%;
    font-size: 1rem;
    border-radius: 6px;
    appearance: none;
    color: #495057;
    background-color: #ffffff;
    padding: 0.75rem;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(206, 212, 218);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(206, 212, 218);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(206, 212, 218);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(206, 212, 218);
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
}

.separacion {
    padding-right: 1rem;
}

.input-grupo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logoNav{
    background-color: white;
    display: flex;
    padding: .5rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.marco{
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.menuNav{ 
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    display:flex;
    gap: 1rem;
    font-family: "Inclusive Sans", serif;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 60px;
}

.parrafo{
    color: #0e1216;
    font-size: 1rem;
    font-family: "Inclusive Sans", serif;
    text-align: justify;
}

.parrafo-1{
    color: #0e1216;
    font-size: 1rem;
    font-family: "Inclusive Sans", serif;
    margin-bottom: 0rem;
}

.parrafo-2{
    color: #0e1216;
    font-size: 1rem;
    font-family: "Inclusive Sans", serif;    
    padding: 1.5rem; 
}

.parrafo-3{
    color: black;
    font-size: 1rem;
    font-family: "Inclusive Sans", serif;    
    padding: 1.5rem;  
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.parrafo-4{
    color: black;
    font-size: 0.7rem;
    font-family: "Inclusive Sans", serif;
    margin-left: 2rem;
}

.parrafo-5{
    color: white;
    font-size: .8rem;
    font-family: "Inclusive Sans", serif;
}

.titulo-1{
    color: #03346B;
    font-size: 3rem;
    font-family: "Inclusive Sans", serif;  
}

.titulo-2{
    color: #ffffff;
    font-family: "Inclusive Sans", serif; 
    font-size: 1.5rem; 
    display: flex;
    justify-content: center; 
    padding-top: 5rem;
    padding-bottom: 3rem;

}

.titulo-3{
    color: #0B2639;
    font-family: "Inclusive Sans", serif; 
    font-size: 1.2rem; 
    display: flex;
    margin-left: 2rem;
    font-weight: bold;
}

.titulo-4{
    color: black;
    text-align: center;
    font-family: "Inclusive Sans", serif;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 100px;
}

.titulo-5{
    color: black;
    text-align: center;
    font-family: "Inclusive Sans", serif;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 60px;
}

.grid-timeline{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.espacio{
    width: 150px;
    padding-bottom: 1rem;
    
}


.timeline{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.timeline-1{
    display: flex;
    gap: 1rem;
}

.tl-texto{
    text-align: end;
    font-family: "Inclusive Sans", serif;
    font-size: .9rem;
    padding-left: 1rem;
    width: 150px;
}

.tl-evento{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16px;
    
    
}

.tl-circulo{
    border: 2px solid #6366f1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
}

.tl-conector{
    width: 2px;
    background-color: #dee2e6; 
    height: 100%;
}

.img-network{
    width: auto;
    height: 200px;
}

.mapa{
    width: 100%;
    max-width: 800px;
}

.escondido{
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 600px) { */
  

      
    .grid{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        padding: .5rem;
    }


    .grid-azul{
       
        gap: .3rem;
        padding: .3rem;
    }

    .cuadros{ 
        display: flex;   
        flex-direction: column;    
        padding: 15px;
        gap: 1rem;
    }

    .grid-cuadros{   
        width: 100%;   
    }

    .boxBoton-2{   
        margin-bottom:30px;  
    }

    .titulo-1{
        font-size: 2rem;  
    }
    
 

    .parrafo-3{
  
        margin-left: 10px;
        margin-right: 10px;
        text-align:justify;
    }

    .grid-gris{
        display:block;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    

    .grid-cuadros-2{    
        width: 100%;
    }
   
    .boxBoton-4{
        width: 160px;
        height: 40px;
    }

    .titulo-5{

        margin-top: 10px;
    }
    

  /* } */

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    body {
        overflow-x: hidden;
   }
    
   .grid{
    display: flex;
    flex-direction: row;
    padding: .5rem;
    align-items: center;
    gap: 1.5rem;
}


.titulo-1{
    font-size: 3rem;
}

.cuadros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    padding: 40px;
}



  }

  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
    .escondido{
        display: flex;
    }

    .mas{
        display: none;
    }


  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  
    .grid-gris{
        background-color: #FAF9FA;
        padding-top: 100px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 100px;
        display: flex;
    }
  }